@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: #000;
    background-size: cover;
    background-position: center top;
    background-image: url("https://cdn.e-konomista.pt/uploads/2019/07/106182-netflix_1541693766.png");
    background-repeat: no-repeat;
    color: #fff;
    font-size: 1.5rem;
}

.container {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.titulo-pagina {
    color: #e50914;
    margin-top: 10px;
}

.subtitulo-pagina {
    margin-top: 10px;
    background-color: #000;
}

img {
    max-height: 250px;
    margin-bottom: 1rem;
    box-shadow: 0 0 1rem #fff;
}

#filme, #titulo {
    width: 80%;
    margin: 1rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.botao {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 2rem;
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
}

.botao:hover {
    background-color: red;
}

#erro {
    background-color: red;
    color: #fff;
}

#catalogo {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
}

.retangulo {
    margin: 1rem;
    background-color: #00000050;
    border-radius: 0.5rem;
    max-width: 600px;
    margin: auto;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filmes {
    padding: 1.5rem;
    width: 13rem;
    background-color: 00000050;
    border-radius: 0.5rem;
    border: 2px solid white;
    margin: 0.5rem;
}

input {
    outline: none;
    padding-left: 10px;
    background-color:#f5f6fa;
}